<h2>Editor de personas</h2>
<div class="form">
  <p>
    <label>ID: 
      <input type="text" disabled [(ngModel)]="personaSeleccionada.id">
    </label>
  </p>
  <p>
    <label>Nombre: 
      <input type="text" [(ngModel)]="personaSeleccionada.name">
    </label>
  </p>
  <p>
    <label>Apellido: 
        <input type="text" [(ngModel)]="personaSeleccionada.surname">
    </label>
  </p>
</div>
<button (click)="mostrarPersona()">MOSTRAR</button>
<p>
  <button (click)="previaPersona()">ANTERIOR</button>
  <button (click)="siguientePersona()">SIGUIENTE</button>
</p>
<hr>
<ul>
  <li *ngFor="let personaA of personas">{{ personaA.toString() }}</li>
</ul>
<hr>
<b *ngIf="personaSeleccionada.name == 'Ilich'">¡El amo esta seleccionado!</b>